---
const {buttonDescription} = Astro.props;
---
<button role="button" class="open-modal ease-in-out duration-300 inline-flex items-center text-gray-900 border border-gray-900 hover:bg-gray-900 hover:text-white h-12 pl-12 pr-12 rounded-4xl text-xs" aria-label="Asesorate con un especialista ahora">
{buttonDescription }
</button>