<div id="loader" class="flex-col gap-4 w-full items-center justify-center hidden">
    <div class="w-28 h-28 border-8 text-blue-400 text-4xl animate-spin border-gray-300 flex items-center justify-center border-t-blue-400 rounded-full">
  
    </div>
  </div>