---
import Card from "./Card.astro";
import Title from "./Title.astro";
---
<section class="flex flex-col justify-center bg-white" >
    <Title titlePage="Pensión Alimenticia sin Estrés" textAlign="center"/>
    <div class="flex sm:flex-wrap  exmd:flex-wrap lg:flex-nowrap flex-col sm:flex-row items-center mx-2 my-10 justify-between gap-6 sm:gap-25 md:flex-row md:gap-24 lg:flex-row">
    <Card 
    pathCard=" images/arguments.webp" 
    titleCard="¿Estás cansado de luchar por la pensión de tus hijos?"
    bodyCard="¡No busques más! Nuestro equipo está aquí para ayudarte."
    altcard="personas discutiendo por la pesión alimenticia"
    />
    <Card 
    pathCard=" images/sayingno.webp" 
    titleCard="¿Tu ex pareja se niega a pagar la pensión?"
    bodyCard="¡No te preocupes! Con nuestros expertos puedes obtener la pensión que necesitas."
    altcard="personas molesta haciendo como que no sabe nada"
    />
    <Card 
    pathCard=" images/Partnership-amico.webp" 
    titleCard="Obtén la Asistencia Legal que Necesitas"
    bodyCard="¡No tienes que hacerlo solo Contáctanos y obtén la ayuda legal que necesitas."
    altcard="Abogado de pensión alimenticia dando la mano a la persona que lo necesita"
    />
    </div>
</section>