<div class="w-16 h-16 bg-green-500 rounded-full fixed bottom-4 right-4 flex items-center justify-center">
    <a href="https://api.whatsapp.com/send?phone=5513934202" target="_blank" class="text-white" aria-label="botón contacto de WhatsApp">
        <img src="Icons/whatsapp.svg" alt="Logo de whatsApp" width="50" height="50">
    </a>
</div>