---
// Supports weights 100-900
import '@fontsource-variable/inter';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link
      rel="icon"
      type="image/webp"
      href="images/mas_calro-removebg-preview.webp"
    />
    <link rel="canonical" href="https://pensionalimenticia.org/" />
    <meta
      name="description"
      content="El despacho en derecho familiar garcia y villegas nos proporciona las mejores soluciones en temas pensión alimenticia y derecho familiar, nuestro equipo de abogados se encargará de solucionar sus problemas de manera efectiva dando apoyo durante todo el proceso"
    />
    <meta name="viewport" content="width=device-width" />
    <!-- Facebook Meta Tags -->
    <meta
      property="og:url"
      content="https://kzx55n6w-4321.usw3.devtunnels.ms/"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Pensión Alimenticia Garcia y Villegas" />
    <meta
      property="og:description"
      content="Despacho Garcia y Villegas soluciones en temas pensión alimenticia y derecho familiar"
    />
    <meta
      property="og:image"
      content="/images/logo1.webp"
    />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:domain"
      content="kzx55n6w-4321.usw3.devtunnels.ms"
    />
    <meta
      property="twitter:url"
      content="https://kzx55n6w-4321.usw3.devtunnels.ms/"
    />
    <meta
      name="twitter:title"
      content="Pensión Alimenticia Garcia y Villegas"
    />
    <meta
      name="twitter:description"
      content="Despacho Garcia y Villegas soluciones en temas pensión alimenticia y derecho familiar"
    />
    <meta
      name="twitter:image"
      content="/images/logo1.webp"
    />
    <link rel="stylesheet" href="/css/Style.css">
  </head>
  <body class="relativ overflow-visible">
    <slot />
  </body>
</html>
<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  gsap.to(".people",{
  scrollTrigger:{
      start: "top center",
      end: "bottom center",
      scrub:3,
      toggleActions: "restart pause reverse reset",
  },
  x:400,
  duration: 2,
})
const tl=gsap.timeline();
const navbar=document.getElementById('navbar');
const ulElements=document.getElementById('ulElements');
const secondSect=document.getElementById('Intersection');
const navContact=document.getElementById('navContact');
const navContact2=document.getElementById('navContact2');
const svgNav=document.getElementById('svgNavbar');
const paths=svgNav.querySelectorAll('path');
const changeBackground=()=>{
  Array.from(paths).map((path)=>{
    path.style.fill='#000000';
  })
navbar.classList.add('bg-white');
ulElements.classList.remove('text-white');
ulElements.classList.add('text-black');
navContact.classList.remove('text-white');
navContact.classList.add('text-black');
navContact.classList.remove('border-[#eeee]')
navContact2.classList.remove('text-current');
navContact2.classList.add('text-black');
navContact.classList.add('border-[#000]')
navbar.classList.remove('bg-blue-especial');
} 
const changeBackground2=()=>{
  Array.from(paths).map((path)=>{
    path.style.fill='#ffffff';
  })
navbar.classList.add('bg-blue-especial');
ulElements.classList.add('text-white');
ulElements.classList.remove('text-black');
navContact.classList.add('text-white');
navContact.classList.remove('text-black');
navContact.classList.add('border-[#eeee]')
navContact.classList.remove('border-[#000]')
navContact2.classList.remove('text-black');
navContact2.classList.add('text-current');
navbar.classList.remove('bg-white');
}
// const watcher=new IntersectionObserver(changeBackground,{
//   root:null,
//   rootMargin:'0px 0px 0px 0px',
//   threshold:1.0,
// });
// watcher.observe(secondSect);
ScrollTrigger.create({
  trigger: secondSect,
  start: "top-=80", // Ajusta según tus necesidades
  onEnter: () => changeBackground(),
  onLeave: () => changeBackground2(),
  onEnterBack: () => changeBackground(),
  onLeaveBack: () => changeBackground2(),
});
</script>
<style is:global>
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  }
body {
  font-family: 'Inter Variable', sans-serif;
  scroll-behavior: smooth;
  background-color:#ffffff;
    color: #000000;
}
</style>